@model IEnumerable<LastChance.Models.DocumentData.Document>

@{
    ViewBag.Title = "Details";
}

@if (Session["UserId"] != null)
{
    <br />
    <div class="panel alert-info">
        <h4>Jesteś zalogowany jako @Session["UserName"].ToString()</h4>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="btn btn-default"><a href="@Url.Action("LogOut", "Log")">Wyloguj</a></li>
            <li class="btn btn-default"><a href="@Url.Action("RegisterDocument", "Document")">Dodaj nowy dokument</a></li>
            <li class="btn btn-default"><a href="@Url.Action("DeleteDocument", "Manage")">Wycofaj dokument</a></li>
            <li class="btn btn-default"><a href="@Url.Action("UpdateDocument", "Manage")">Aktualizuj dokument</a></li>
            <li class="btn btn-default"><a href="@Url.Action("Index", "DocBox")">Skrzynka Powiadomień</a></li>
            <li class="btn btn-default"><a href="@Url.Action("Temp", "Manage")">Przeglądarka dokumentów</a></li>
        </ul>
    </div>
}
<h2>Wykaz dokumentów</h2>

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Index)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.Line.LineName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocumentType.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Operation.OperationNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Version)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Index)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Line.LineName)
        </td>
        <td>
            @Html.DisplayFor(modelItem=> item.DocumentType.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Operation.OperationNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Version)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        
    </tr>
}
    
</table>

